@charset "utf-8";
html, body{
	position: relative;
	overflow-x: hidden;
}
.admin-bar .mcl_nav_btn{
	margin-top: 45px;
}
#wpadminbar.mobile{
	position :fixed;
}
.mcl_nav_wrap{
	position: relative;
}
.mcl_nav_btn{
	position: fixed;
	top: 2%;
	left: 2%;
	z-index: 9999;
	display: block;
	padding: 10px 15px;
	background-color: #666!important;
}

.mcl_nav_list{
	position: fixed;
    top: 0;
    z-index: 999;
    display: none;
	padding-top: 60px;
    width: 250px;
    height: 100%;
    background: #fff;
}
.mcl_nav_list .menu-item{
	padding: 5px 10px;
	list-style: none;
}
.mcl_nav_list .menu-item a{
	display: block;
}
.mcl_nav_list .menu-item + .menu-item{
	box-shadow: 0 -1px 1px rgba(000, 000, 000, 0.1);
}
.mcl_nav_layer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	
}