html, body { position: relative; }

body.open { overflow-x: hidden; }

.mcl_nav_wrap { position: relative; }

.admin-bar .mcl_nav_btn { margin-top: 32px; }
.admin-bar .mcl_nav_list { padding-top: 47px; }

/*----------------------------------------
	nav btn style 
/*-------------------------------------- */
.mcl_nav_btn { position: fixed; z-index: 9999; display: block; width: 30px; height: 30px; outline: none; border: none; cursor: pointer; box-sizing: border-box; }
.mcl_nav_btn .btn_border { position: relative; display: block; width: 100%; height: 2px; content: " "; }
.mcl_nav_btn .btn_border:before, .mcl_nav_btn .btn_border:after { position: absolute; display: block; width: 100%; height: 2px; content: " "; -webkit-transition: transform 0.3s; transition: transform 0.3s; }
.mcl_nav_btn .btn_border:before { top: -5px; }
.mcl_nav_btn .btn_border:after { bottom: -5px; }

body.open .btn_border { visibility: hidden; }
body.open .btn_border:before, body.open .btn_border:after { visibility: visible; -webkit-transition: transform 0.3s; transition: transform 0.3s; }
body.open .btn_border:before { width: 100%; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: 2px 4px; -ms-transform-origin: 2px 3px; transform-origin: 2px 4px; }
body.open .btn_border:after { width: 100%; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 2px -2px; -ms-transform-origin: 2px -2px; transform-origin: 2px -2px; }

/*----------------------------------------
	nav list style 
/*-------------------------------------- */
.mcl_nav_list { position: fixed; top: 0; z-index: 999; display: none; padding-top: 15px; width: 250px; height: 100%; box-shadow: 1px 0 40px rgba(0, 0, 0, 0.2); }
.mcl_nav_list li { list-style: none; }
.mcl_nav_list a { display: block; }
.mcl_nav_list > li { margin-bottom: 0.8em; padding: 0.8em 1em 0; }
.mcl_nav_list .sub-menu { margin-top: 0.8em; }
.mcl_nav_list .sub-menu > li { margin-bottom: 0.8em; padding: 0.8em 0 0 1.2em; }

/*----------------------------------------
	layer style 
/*-------------------------------------- */
.mcl_nav_layer { position: fixed; top: 0; left: 0; z-index: 99; display: none; width: 100%; height: 100%; background-color: #000; opacity: 0.5; }

.mcl_nav_btn { border: solid 1px #333; background-color: #fff; }
.mcl_nav_btn .btn_border { background: #333; }
.mcl_nav_btn .btn_border:before, .mcl_nav_btn .btn_border:after { background: #333; }

/*----------------------------------------
	nav list style 
/*-------------------------------------- */
.mcl_nav_list { background: #fff; box-shadow: 1px 0 40px rgba(0, 0, 0, 0.2); }
.mcl_nav_list a { color: #333; }
.mcl_nav_list > li + li { border-top: solid 1px #eee; }
.mcl_nav_list .sub-menu > li { border-top: solid 1px #eee; }

/*----------------------------------------
	layer style 
/*-------------------------------------- */
.mcl_nav_layer { background-color: #000; }
