@charset "utf-8";
@import "compass";

html, body{
	position: relative;
}
body.open{
	overflow-x: hidden;
}
.mcl_nav_wrap{
	position: relative;
}

// if login 
.admin-bar{
	.mcl_nav_btn{
		margin-top: 32px;
	}
	.mcl_nav_list{
		padding-top: 47px;
	}
	
}

/*----------------------------------------
	nav btn style 
/*-------------------------------------- */
.mcl_nav_btn{
	position: fixed;
	z-index: 9999;
	display: block;
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	.btn_border{
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		content: " ";
		&:before, &:after{
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			content: " ";
			-webkit-transition: transform 0.3s;
			transition: transform 0.3s;
		}
		&:before{
			top: -5px;
		}
		&:after{
			bottom: -5px;
		}
	}
}

// botton style for open
body.open{
	.btn_border{
		visibility: hidden;
		&:before, &:after{
			visibility: visible;
			-webkit-transition: transform 0.3s;
			transition: transform 0.3s;
		}
		&:before{
			width: 100%;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform-origin: 2px 4px;
			-ms-transform-origin: 2px 3px; 
			transform-origin: 2px 4px;
		}
		&:after{
			width: 100%;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transform-origin: 2px -2px;
			-ms-transform-origin: 2px -2px;
			transform-origin: 2px -2px;
		}
	}
}
/*----------------------------------------
	nav list style 
/*-------------------------------------- */
.mcl_nav_list{
	position: fixed;
    top: 0;
    z-index: 999;
    display: none;
	padding-top: 15px;
    width: 250px;
    height: 100%;
    box-shadow: 1px 0 40px rgba(000, 000, 000, 0.2);
    li{
		list-style: none;
    }
    a{
	    display: block;
    }
    & > li {
	    margin-bottom: 0.8em;
	    padding: 0.8em 1em 0;
    }

    .sub-menu{
	    margin-top: 0.8em;
	    & > li{
			margin-bottom: 0.8em; 
			padding: 0.8em 0 0 1.2em;
	    }
    }
}

/*----------------------------------------
	layer style 
/*-------------------------------------- */
.mcl_nav_layer{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	
}